.App {
  text-align: center;

  width: 20vw;
  height: fit-content;

  padding: 30px;

  background-color: black;

  border-radius: 30px;
  border: solid rgb(0, 77, 0);
}

p {
  color: white;

  font-size: medium;
  font-weight: 600;
}

button {
  background: radial-gradient(
    circle,
    rgba(171, 3, 70, 1) 0%,
    rgba(0, 48, 24, 1) 100%
  );

  padding: 0.3rem;

  color: white;
  font-size: medium;
  font-weight: 500;
}

button:hover {
  background: radial-gradient(
    circle,
    rgba(0, 48, 24, 1) 0%,
    rgba(171, 3, 70, 1) 99%
  );
  font-weight: 900;

  cursor: pointer;
}
